<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% assign parts = site.email | split: '@' %}
          {% if parts.size == 2 %}
          <li class="list-inline-item">
            <a id="contact-email" rel="nofollow" data-u="{{ parts[0] }}" data-d="{{ parts[1] }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy;  {{ 'now' | date: '%Y' }}</p>
      </div>
    </div>
  </div>
</footer>

<script>
  (function(){
    var a = document.getElementById('contact-email');
    if (!a) return;
    var u = a.getAttribute('data-u');
    var d = a.getAttribute('data-d');
    if (u && d) {
      a.setAttribute('href', 'mailto:' + u + '@' + d);
    }
  })();
</script>
