---
layout: default
---

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ page.background | default: site.background | default: '/images/paris.jpg' }})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <span class="meta">
            {% if page.author %}Posted by {{ page.author }} on {% endif %}{{ page.date | date: "%B %d, %Y" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ content }}
      </div>
    </div>
  </div>
</article>
